<h1>Edit Task</h1>

<div style ="margin: 20px">
  <%= form_with model: @task do |f| %>
    <div style="display: flex">
      <%= f.label :title%>
      <%= f.text_field :title%>
    </div>
    <div style="margin: 20px 0px">
      <%= f.label :details%>
      <%= f.text_field :details%>
    </div>
    <div style="margin: 20px">
      <%= f.label :completed%>
      <%= f.check_box :completed%>
      <%# <input type="checkbox" name="completed" value=> %>
      <%# <label for="completed">Completed</label> %>
    </div>
    <%= f.submit %>
  <%end%>
</div>



<%= link_to "back to list", tasks_path%>
